body {
    background-color: rgb(0, 70, 95);
    font-family: 'Asap', sans-serif;
    font-family: 'Asap', serif;
    text-align: center;
}

h1 {
    color:rgb(255, 255, 255);
}

h2 {
    color: rgb(255, 255, 255);
}

h6 {
    color: rgb(255, 255, 255);
}
